.profile {
  background: var(--gh-card-bg);
  overflow: hidden;
  padding: 15px;
}

.header-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 10px;
  word-break: break-word;
}

.followers-simple {
  font-size: 0.9em;
  color: #666;
  margin-top: -5px;
}

.languages {
  margin: 15px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px solid var(--gh-card-border);
  list-style: none;
  font-size: 0.9em;

  &::before {
    content: 'Top languages';
    display: block;
    font-size: 0.85em;
    font-style: italic;
    color: var(--gh-card-text);
    margin-bottom: 5px;
  }

  li {
    display: inline-block;
    color: var(--gh-card-text);
    font-weight: bold;
    margin-right: 15px;

    &::after {
      content: '\2022';
      margin-left: 10px;
      opacity: 0.3;
    }

    &:last-child::after {
      content: '';
    }
  }
}